doctype html
html
    body
        footer
            block footer
                //load script
                script(src="/javascripts/commentsSection.js")
                //place for script
                #disqus_thread
                //if script cannot load
                noscript
                    | Please enable JavaScript to view the
                    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.