doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav#navBar
            div.topnav
                a(href='/') Home
                a(href='/Majors') Majors
                a.active(href='/Departments') Departments
                a(href='/About') About
                section(role='search' data-ss360='true')
                    input#searchBox(type='search' placeholder='Search…')
                    button#searchButton
        block content