doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style="background-color:#F5F5F5")
        nav#navBar
            div.topnav
                a(href='/') Home
                a.active(href='/Majors') Majors
                a(href='/Departments') Departments
                a(href='/About') About
                div.topnavSearch
                    form
                        input#searchBox(type='search' placeholder='Search…')
                        button#searchButton
        button.collapsible(type='button') Text to Speech Controls
        .ttsControls
            //add controls here
            p This entry can be read to you using these buttons
            button#play
            button#pause
            button#stop
        article
            block content
        block append footer
            include _Comments

        script(src="/javascripts/YouTube.js")
        <script async src="https://js.sitesearch360.com/plugin/bundle/2466.js"></script>
        script(src="/javascripts/ttsCollapsible.js")
        script(src="/javascripts/ttsMainBodyCode.js")
