extends _About

block content
    div.centeredcontainer
        h1 The #{title} was created by
        h2 John Nichols - Front End Developer
        h2 Kelsey Jackson - Project Manager and Back End Developer
        h2 Tyler Schneider - Reporter/Usability Tester and Back End Developer
        p
        | Credit to
        a(href="https://www.youtube.com/c/chadterrell/featured" target="_blank" style="color: #500000;") Chad Terrel
        |  for the homepage video