extends _About

block content
    h1 The #{title} was created by
    h2 John Nichols - Front End Developer
    h2 Kelsey Jackson - Project Manager and Back End Developer
    h2 Tyler Schneider - Reporter/Usability Tester and Back End Developer