extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Aerospace Engineering page!

    .inforow
        .leftflex
            div.start
                h2 Information About Major
                p
                | Allowing humanity to reach both the known and the unknown, Aerospace Engineering is a field that is
                | heavily
                | involved in the design and development of various vehicles and devices used both in daily life and
                | exploration. Having reached as far below as under the ocean's surface and as far above as the open
                | skies and
                | even space, Aerospace Engineering has been a part of the creation of aircrafts, spacecrafts, and
                | watercrafts
                | alike. Though the most well-known fields are aeronautics and astronautics, aerospace engineers are
                | able to
                | work to research and create vehicles and devices that can work in any fluid environment, which
                | includes
                | automobiles, robotics, and much more. With both government positions and positions in a variety of
                | other
                | fields, Aerospace Engineering plays a major role in the creation of durable, practical technology
                | used to
                | learn more about the world (and universe!) we live in.

            div.info
                h2 TAMU Info
                p
                | At Texas A&M, the required Aerospace Engineering coursework requires students to gain a foundational
                | understanding of aerodynamics, propulsion, structures and materials, and dynamics and control so they
                | are
                | prepared for their advanced study and specialization. Along with these basic guidelines, there are
                | also many
                | technical electives available for students to choose from for their concentration of study in fields
                | that
                | may be of special interest to them.

            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployement Rate: 0.3%
                                li Gradutation Rate: 75%
                                li Average Salary: $85,895
                        td
                            ul
                                li Boeing
                                li NASA
                                li Lockheed Martin
                        td
                            ul
                                li Research
                                li Practice
                                li Participate in Clubs
                                li Personal Projects

        .rightflex
            meta(name='Video', content='M6PTJptKZhI')
            div#player