extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Architectural Engineering page!
    
    
    .inforow
        .leftflex

            div.start
                h2 Information About Major 
                p
                | Architectural engineering uses engineering principles and technology to building design and construction.
                | They work together with architects and civil engineers but they are unique in their roles and skills when
                | incorporated in a building design team. They are different than architects as architects specialize in
                | spatial, functional, and aesthetic design while architectural engineers use engineering to construct systems
                | within a building. They use many different types of math and sciences like physics, materials science, and
                | calculus to design and ensure that these buildings are functional and safe to be constructed.

            div.info
                h2 TAMU Info 
                p
                | At Texas A&M, there are two main tracks that a student can take: the structural systems for buildings, and
                | mechanical systems for buildings tracks. The Structural Building Systems track allows for students to have
                | more emphasis on structural design and the safety of buildings. The Mechanical Systems track allows for
                | students to have more emphasis on energy efficiency, HVAC (Heating, Ventilation, and Air-Conditioning),
                | building environment, and building environmental controls. Both tracks are highly similar in the sense that
                | they prepare students for careers within the architectural, engineering and construction industries, but
                | deviate only on these emphasis areas. Architectural engineering takes 128 credit hours to complete.
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 1.8%
                                li Graduation Rate: 52.4%
                                li Average Salary: $93,041
                        td
                            ul
                                li Samsung Semiconductor, Inc. 
                                li AECOM
                                li CapitalOne
                        td
                            ul
                                li Research
                                li Practice
                                li Participate in Clubs
                                li Personal Projects
        .rightflex
            meta(name='Video', content='-8sucrV14_c')
            div#player
