extends _Majors

block content

    h1= title
    p Welcome to the Biomedical Engineering page!
    
    meta(name='Video', content='KQm-gfobUm8')
    div#player
    
    h2 Information About Major 
    p With an emphasis on generating new ideas to combat a variety of health problems people face, Biomedical Engineering is a major that works on developing the technology required for living and medical systems. The work of biomedical engineers typically involves researching and creating advancements in health care to either help solve an issue or improve the way a problem is currently being dealt with. With areas such as biomechanics, biomaterials, cellular engineering, and more, Biomedical Engineering has a close relationship to other healthcare professions such as physicians, nurses, and therapists with a common goal of overall improving the way people are cared for when they need medical assistance.
    h2 TAMU Info 
    p At Texas A&M, the required Computer Science coursework works to incorporate some of the different aspects of computer science that students will likely need for their future careers. These are included via the main coursework, as well as the available electives. Based on TAMU's current requirements, students are required at least one elective in each of the following areas: algorithms and theory, systems, software, and information and intelligent systems. Along with this coursework, students will also be able to choose 12 hours of courses in a non-Computer Science area, such as the arts, math, business, etc., to further deepen their knowledge in a field they would like to work in as a career.
    h2 Statistics
    p [enter statistics]
    h2 Companies 
    ul 
        li Amazon 
        li Google 
        li Twitch 
    h2 Preparation 
    ol 
        li Research
        li Practice 
        li Participate in Clubs 
        li Personal Projects 
