extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Biomedical Engineering page!
    
    
    .inforow
        .leftflex 
            div.start
                h2 Information About Major 
                p With an emphasis on generating new ideas to combat a variety of health problems people face, Biomedical Engineering is a major that works on developing the technology required for living and medical systems. The work of biomedical engineers typically involves researching and creating advancements in health care to either help solve an issue or improve the way a problem is currently being dealt with. With areas such as biomechanics, biomaterials, cellular engineering, and more, Biomedical Engineering has a close relationship to other healthcare professions such as physicians, nurses, and therapists with a common goal of overall improving the way people are cared for when they need medical assistance.
            div.info
                h2 TAMU Info 
                p At Texas A&M, biomedical engineering students are involved in the development and application of engineering science and technology for living and medical systems. This degree is designed to prepare students for team involvement with other engineers, physicians, and life scientists to solve a wide array of biological and medical problems. They also take a number of elective courses that accommodate student’s special interests in the fields of biomechanics, biomaterials, biomolecular and cellular engineering, and bioinstrumentation. Also, students who are interested in pursuing medical school are able to meet admission prerequisites through slight modifications and additions to the curriculum. Biomedical engineering takes 128 credit hours to complete. 
            
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 2.8%
                                li Graduation Rate: 92%
                                li Average Salary: $92,620
                        td
                            ul
                                li GE Healthcare 
                                li Medtronic
                                li US Army
                        td
                            ul
                                li Research
                                li Practice
                                li Participate in Clubs
                                li Personal Projects
        .rightflex
            meta(name='Video', content='KQm-gfobUm8')
            div#player
