extends _Majors

block content

    h1= title
    p Welcome to the Computer Engineering page!
    
    
    .inforow 
        .leftflex 
            div.start
                h2 Information About Major 
                p Computer engineering is a branch of engineering that integrates electronic engineering and computer science. These engineers help to develop computer systems and other technological devices. They research, design, develop, and test computer systems and components like processors, memory devices, circuit boards, and networks and routers. They mainly engineer computer hardware which could be a number of things such as microprocessors, data storage devices like hard disks, input devices like keyboards, etc. These engineers also are familiar with software development and how it ties into network communication systems and operating systems. They also work with antivirus, security, and application software. 
            div.info    
                h2 TAMU Info 
                p At Texas A&M, students focus equally on hardware and software aspects, gaining a total computer systems perspective. They take courses in electrical circuits, electronics, computer architecture ranging from embedded systems to data centers, digital circuits, interfacing, data structures, analysis of algorithms, programming languages ranging from assembler to high level, and software engineering and computer systems. This is based on a foundation of physics, chemistry, and mathematics which helps support these courses. They learn much of the information provided from both computer science and electrical engineering degrees taught at Texas A&M. Computer engineering takes 128 credit hours to complete. 
    
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 4%
                                li Graduation Rate: 91%
                                li Average Salary: $89,156
                        td
                            ul
                                li Microsoft 
                                li Google 
                                li Infosys
                        td
                            ul
                                li Practice coding and physics
                                li Leetcode
                                li Participate in Clubs (Upsilon Pi Epsilon)
                                li Personal Projects (Software and Hardware)
        .rightflex
            meta(name='Video', content='avZTQgLs064')
            div#player

