extends _Departments

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Departments at A&M


    .row
        .column
            .card
                h3
                    a(href='/DEPT-CSCE' target='_blank')
                        img(src='/images/CSCE.jpg' alt='CSCE')
                p
                    | This is the Department of Computer Science and Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-ENGR' target='_blank')
                        img(src='/images/BAEN.jpg' alt='BAEN')
                p
                    | This is the Department of Biological and Agricultural Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-AERO' target='_blank')
                        img(src='https://pbs.twimg.com/profile_images/1030484641646501888/2l0l7JoC_400x400.jpg' alt='AERO')
                p
                    | This is the Department of Aerospace Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-BIO' target='_blank')
                        img(src='/images/BIO.jpg' alt='BMEN')
                p
                    | This is the Department of Biomedical Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-CHEM' target='_blank')
                        img(src='images/CHem.jpg' alt='CHEM')
                p
                    | This is the Department of Chemical Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-CIV' target='_blank')
                        img(src='images/civ.jpg' alt='CVEN')
                p
                    | This is the Department of Civil and Environmental Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-ELEC' target='_blank')
                        img(src='images/ECEN.jpg' alt='ECEN')
                p
                    | This is the Department of Electrical and Computer Engineering at Texas A&M University

        .column
            .card
                h3
                    a(href='/DEPT-INDU' target='_blank')
                        img(src='images/ETID.jpg' alt='ETID')
                p
                    | This is the Department of Engineering Technology and Industrial Distribution at Texas A&M University

        d9
            dt
                h1
                    a(href='/DEPT-MATE') Department of Materials Science and Engineering
            dd This is one of the many engineering departments at A&M

        d10
            dt
                h1
                    a(href='/DEPT-MECH') Department of Mechanical Engineering
            dd This is one of the many engineering departments at A&M

        d11
            dt
                h1
                    a(href='/DEPT-MULT') Department of Multidisciplinary Engineering
            dd This is one of the many engineering departments at A&M

        d12
            dt
                h1
                    a(href='/DEPT-NUCL') Department of Nuclear Engineering
            dd This is one of the many engineering departments at A&M

        d13
            dt
                h1
                    a(href='/DEPT-OCEA') Department of Ocean Engineering
            dd This is one of the many engineering departments at A&M

        d14
            dt
                h1
                    a(href='/DEPT-PETR') Department of Petroleum Engineering
            dd This is one of the many engineering departments at A&M

        d15
            dt
                h1
                    a(href='/DEPT-INSY') Department of Industrial and Systems Engineering
            dd This is one of the many engineering departments at A&M