extends _Departments

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Departments at A&M


    .cardflex
        .row
            .column
                .card
                    h3
                        a(href='/DEPT-CSCE')
                            img(src='/images/CSCE.jpg' alt='CSCE' title="CSCE")
                    p
                        | This is the Department of Computer Science and Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-ENGR')
                            img(src='/images/BAEN.jpg' alt='BAEN' title="BAEN")
                    p
                        | This is the Department of Biological and Agricultural Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-AERO')
                            img(src='https://pbs.twimg.com/profile_images/1030484641646501888/2l0l7JoC_400x400.jpg' alt='AERO' title="AERO")
                    p
                        | This is the Department of Aerospace Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-BIO')
                            img(src='/images/BIO.jpg' alt='BMEN' title="BMEN")
                    p
                        | This is the Department of Biomedical Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-CHEM')
                            img(src='images/CHem.jpg' alt='CHEM' title="CHEM")
                    p
                        | This is the Department of Chemical Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-CIV')
                            img(src='images/civ.jpg' alt='CVEN' title="CVEN")
                    p
                        | This is the Department of Civil and Environmental Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-ELEC')
                            img(src='images/ECEN.jpg' alt='ECEN' title="ECEN")
                    p
                        | This is the Department of Electrical and Computer Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-INDU')
                            img(src='images/ETID.jpg' alt='ETID' title="ETID")
                    p
                        | This is the Department of Engineering Technology and Industrial Distribution at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-MATE')
                            img(src='images/MSEN.jpg' alt='MSEN' title="MSEN")
                    p
                        | This is the Department of Materials Science and Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-MECH')
                            img(src='images/MEEN.jpg' alt='MEEN' title="MEEN")
                    p
                        | This is the Department of Mechanical Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-MULT')
                            img(src='images/MTDE.jpg' alt='MTDE' title="MTDE")
                    p
                        | This is the Department of Multidisciplinary Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-NUCL')
                            img(src='images/NUEN.jpg' alt='NUEN' title="NUEN")
                    p
                        | This is the Department of Nuclear Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-OCEA')
                            img(src='images/OCEA.jpg' alt='OCEN' title="OCEN")
                    p
                        | This is the Department of Ocean Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-PETR')
                            img(src='images/PETR.jpg' alt='PETE' title="PETE")
                    p
                        | This is the Department of Petroleum Engineering at Texas A&M University

            .column
                .card
                    h3
                        a(href='/DEPT-INSY')
                            img(src='images/SYS.jpg' alt='ISEN' title="ISEN")
                    p
                        | This is the Department of industrial and Systems Engineering at Texas A&M University