extends _Departments

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Departments at A&M

    div.container
        dl
            dt
                h1
                    a(href='/DEPT-CSCE') Department of Computer Science and Engineering
            dd This is one of the many engineering departments at A&M
        
        d2
            dt
                h1
                    a(href='/DEPT-ENGR') College of Engineering
            dd This is one of the many engineering departments at A&M
        
        d3
            dt
                h1
                    a(href='/DEPT-AERO') Department of Aerospace Engineering
            dd This is one of the many engineering departments at A&M
        
        d4
            dt
                h1
                    a(href='/DEPT-BIO') Department of Biomedical Engineering
            dd This is one of the many engineering departments at A&M

        d5
            dt
                h1
                    a(href='/DEPT-CHEM') Department of Chemical Engineering
            dd This is one of the many engineering departments at A&M
        
        d6
            dt
                h1
                    a(href='/DEPT-CIV') Department of Civil and Environmental Engineering
            dd This is one of the many engineering departments at A&M
        
        d7
            dt
                h1
                    a(href='/DEPT-ELEC') Department of Electrical and Computer
            dd This is one of the many engineering departments at A&M

        d8
            dt
                h1
                    a(href='/DEPT-INDU') Department of Engineering Technology and Industrial Distribution
            dd This is one of the many engineering departments at A&M

        d9
            dt
                h1
                    a(href='/DEPT-MATE') Department of Materials Science and Engineering
            dd This is one of the many engineering departments at A&M

        d10
            dt
                h1
                    a(href='/DEPT-MECH') Department of Mechanical Engineering
            dd This is one of the many engineering departments at A&M

        d11
            dt
                h1
                    a(href='/DEPT-MULT') Department of Multidisciplinary Engineering
            dd This is one of the many engineering departments at A&M

        d12
            dt
                h1
                    a(href='/DEPT-NUCL') Department of Nuclear Engineering
            dd This is one of the many engineering departments at A&M

        d13
            dt
                h1
                    a(href='/DEPT-OCEA') Department of Ocean Engineering
            dd This is one of the many engineering departments at A&M

        d14
            dt
                h1
                    a(href='/DEPT-PETR') Department of Petroleum Engineering
            dd This is one of the many engineering departments at A&M

        d15
            dt
                h1
                    a(href='/DEPT-INSY') Department of Industrial and Systems Engineering
            dd This is one of the many engineering departments at A&M