extends _Departments

block content

    h1= title
    p Welcome to the Department of Computer Science and Engineering!
    h2 Information About Department

    h2 Related Majors
    ul
        li
            h3
                a(href='/Systems') Industrial Engineering 