extends _Departments

block content

    .depinfo
        h1= title
        p Welcome to the Department of Civil and Environmental Engineering!

    .depcontainer
        h2 Information About Department

        p
        | The CVEN (Civil Engineering) Department houses students enrolled within the CVEN and EVEN (Environmental
        | Enginering) majors. In Fall 2021, there were 818 undergraduate and 417 graduate students enrolled within
        | this department. For more information on each of the majors within this department, refer to the links below.

        h2 Related Majors
        ul
            li
                h3
                    a(href='/Civil') Civil Engineering

            li
                h3
                    a(href='/Environ') Environmental Engineering
