extends _Departments

block content

    .depinfo
        h1= title
        p Welcome to the Department of Nuclear Engineering!

    .depcontainer
        h2 Information About Department

        p
        | The NUEN (Nuclear Engineering) Department houses students enrolled within the NUEN major. In Fall
        | 2021, there were 272 undergraduate and 128 graduate students enrolled within this department. For more
        | information on each of the majors within this department, refer to the links below.

        h2 Related Majors
        ul
            li
                h3
                    a(href='/Nuclear') Nuclear Engineering
