extends _Departments

block content

    h1= title
    p Welcome to the Department of Engineering Technology and Industrial Distribution!
    h2 Information About Department

    h2 Related Majors
    ul
        li
            h3
                a(href='/Electronic') Electronic Systems Engineering Technology
        li    
            h3
                a(href='/IndusDis') Industrial Distribution
        li
            h3
                a(href='/EngTech') Engineering Technology and Industrial Distribution
        li        
            h3 
                a(href='/Manufac') Manufacturing and Mechanical Engineering Technology
        li    
            h3
                a(href='/MultiDisc') Multidisciplinary Engineering
