extends _Departments

block content

    .depinfo
        h1= title
        p Welcome to the Department of Petroleum Engineering!

    .depcontainer
        h2 Information About Department

        p
        | The PETE (Petroleum Engineering) Department houses students enrolled within the PETE major. In Fall
        | 2021, there were 332 undergraduate and 139 graduate students enrolled within this department. For more
        | information on each of the majors within this department, refer to the links below.

        h2 Related Majors
        ul
            li
                h3
                    a(href='/Petrol') Petroleum Engineering
