extends _Departments

block content

    h1= title
    p Welcome to the Department Aerospace Engineering!
    h2 Information About Department

    h2 Related Majors
    ul
        li
            h3
                a(href='/Aero') Aerospace Engineering
