extends _Departments

block content

    .jumbotron
        h1= title
        p Welcome to the Department of Computer Science and Engineering!

    .depcontainer
        h2 Information About Department

        p
        | The CSCE (Computer Science and Computer Engineering) Department houses students enrolled within the CPSC
        | (Computer Science) and CECN/CEEN (Computer Engineering) majors. In Fall 2021, there were 1,483 undergraduate
        | and 480 graduate students enrolled within this department. For more information on each of the majors within
        | this department, refer to the links below.
        p
        | NOTE: Computer Engineering is a joint effort between two different departments, so those interested should
        | also refer to the Electrical Engineering department page for more information. The CECN vs CEEN were used to
        | refer to the Computer Science track (CECN) and Electrical Engineering track (CEEN), but the majors have since
        | merged and into a single major with more open requirements.

        h2 Related Majors
        ul
            li
                h3
                    a(href='/ComputerSci') Computer Science

            li
                h3
                    a(href='/ComputerEng') Computer Engineering