extends _Departments

block content

    .jumbotron
        h1= title
        p Welcome to the Department of Biological and Agricultural Engineering!

    .depcontainer
    h2 Information About Department

    p
    | The BAEN (Biological and Agricultural Engineering) Department houses students enrolled within the BAEN major.
    | For more information on each of the majors within this department, refer to the links below.

    h2 Related Majors
    ul
        li
            h3
                a(href='/Biolog') Biological and Agricultural Engineering
