extends _Departments

block content

    .depinfo
        h1= title
        p Welcome to the Department of Materials Science and Engineering!

    .depcontainer
        h2 Information About Department

        p
        | The MSEN (Materials Science and Engineering) Department houses students enrolled within the MSEN major. In Fall 2021,
        | there were 181 undergraduate and 205 graduate students enrolled within this department. For more information
        | on each of the majors within this department, refer to the links below.

        h2 Related Majors
        ul
            li
                h3
                    a(href='/Materials') Materials Science and Engineering
