extends _Departments

block content

    h1= title
    p Welcome to the Department of Electrical and Computer Engineering!
    h2 Information About Department

    h2 Related Majors
    ul
        li
            h3
                a(href='/ComputerEng') Computer Engineering
                
        li 
            h3    
                a(href='/Electrical') Electrical Engineering
