extends _Departments

block content

    .depinfo
        h1= title
        p Welcome to the Department of Multidisciplinary Engineering!

    .depcontainer
        h2 Information About Department

        h2 Related Majors
        ul
            li
                h3
                    a(href='/Arhcitectural') Architectrual Engineering
            li
                h3
                    a(href='/IntDisc') Interdisciplinary Engineering
