extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Industrial Distribution page!

    

    .inforow    
        .leftflex 
            div.start
                h2 Information About Major 
                p Industrial Distribution uses mathematics, science, engineering technology, business, data processing, communications, quality, and supply chain management, applied to wholesaling and separation of products to customers. Graduates from this degree can expect a job in industries likes aerospace, automation solutions, building materials, chemical and petrochemical, electrical, electronics, information systems and technology, healthcare, fluid power, general line, heating, ventilation and air conditioning, management consulting, mechanical power, metals, oil and gas, plastics, pipe and valve fitting, plumbing, safety equipment, semiconductor, specialty tools, and welding. With such a wide variety of skills, these graduates are able to fit into a wide variety of careers.
            div.info    
                h2 TAMU Info 
                p At Texas A&M, industrial distribution majors will be taught business, communications, finance, information technology, applied technology, general management, applied technology, ethics, human relations, and general management skills in order to fill this wide demand. The goal of the education for industrial distribution majors at Texas A&M is to be able to forge relationships with executives, engineers, scientists, business analysts, and managers in a professional way. Texas A&M wishes to make its industrial distribution graduates act as a consulting resource for businesses that in turn will allow for them to be a leader in a wide variety of segments. Industrial distribution requires a total of 126 credit hours to complete. s
                

                .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 6%
                                li Graduation Rate: 97%
                                li Average Salary: $65,789
                        td
                            ul
                                li Amazon 
                                li HEB 
                                li Lockheed Martin
                        td
                            ul
                                li Research
                                li Practice
                                li Participate in Clubs
                                li Personal Projects
        .rightflex 
            meta(name='Video', content='PKB6x3qpC20')
            div#player
