extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Electrical Engineering page!
    
    
    .inforow 
        .leftflex 
            div.start
                h2 Information About Major 
                p
                | Electrical engineers design, test, develop, and supervise the manufacturing of electrical equipment which includes
                | electronic motors, communications systems, power generation equipment, and radar and navigation systems. When
                | working together with aerospace and mechanical engineers, they help to design the electrical systems of aircraft
                | and automobiles. Electrical engineering is known to be one of the newer engineering majors, with only having
                | history dated back to the late 19th century. In modern times, these engineers will work to design, construct, and
                | manufacture useful devices and systems. Some prominent electrical engineers are Thomas Edison, Nikola Tessla,
                | and Philo T. Farnsworth. 
            div.info    
                h2 TAMU Info 
                p
                | At Texas A&M, electrical engineers learn to design, develop, test and supervise the manufacture of sophisticated
                | electronic systems like cell phones, digital TVs, medical imaging devices, automobiles, computers, and advanced
                | satellite systems. Students will learn an area of specialization including analog and mixed signal electronics,
                | biomedical imaging, sensing and genomic signal processing, device science and nanotechnology, electromagnetics
                | and microwaves, energy and power, information science and systems, and computer engineering and systems. Electrical
                | engineering takes 128 credit hours to complete.

            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 4%
                                li Graduation Rate: 72%
                                li Average Salary: $92,403
                        td
                            ul
                                li Lockheed Martin
                                li Texas Instruments
                                li IBM
                        td
                            ul
                                li Research
                                li Practice physics and calculus
                                li Participate in Clubs (Eta Kappa Nu)

        .rightflex 
            meta(name='Video', content='avZTQgLs064')
            div#player
