extends _Majors

block content

    h1= title
    p Welcome to the Computer Science page!

    meta(name='Video', content='M7lc1UVf-VE')
    div#player


    h2 Information About Major 
    p Computer Science is a major that combines the concepts of computing, mathematics, and science to provide a deeper understanding of how computers and their software work. Dealing with the creation of algorithms, computer systems, and their applications, computer scientists are often invloved in the development, distribution, and research of software. With a wide variety of fields this software is needed for, computer scientists can work in a range of areas including medicine, human development, artificial intelligence, oil and natural gas, aerospace, and more. From cellphones to space shuttles, computer scientists specialize in developing the backbone of many tools and devices used around the world and play a major role in solving problems for countless companies and fields.
    h2 TAMU Info 
    p At Texas A&M, the required Computer Science coursework works to incorporate some of the different aspects of computer science that students will likely need for their future careers. These are included via the main coursework, as well as the available electives. Based on TAMU's current requirements, students are required at least one elective in each of the following areas: algorithms and theory, systems, software, and information and intelligent systems. Along with this coursework, students will also be able to choose 12 hours of courses in a non-Computer Science area, such as the arts, math, business, etc., to further deepen their knowledge in a field they would like to work in as a career.
    h2 Statistics
    p [enter statistics]
    h2 Companies 
    ul 
        li Amazon 
        li Google 
        li Twitch 
    h2 Preparation 
    ol 
        li Research
        li Practice 
        li Participate in Clubs 
        li Personal Projects 
