extends layout

block content

  div.homecontainer
    h1= title
    h3
      | Here you will find information about every engineering major offered at
      |
      a(href="https://engineering.tamu.edu" target="_blank" style="color: #500000;") Texas A&M University


