doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav#navBar
      div.topnav
        a.active(href='/') Home
        a(href='/Majors') Majors
        a(href='/Departments') Departments
        a(href='/About') About
    block content

  script(src="/javascripts/Background.js")
  div#background
    iframe.background#background-iframe(src="https://www.youtube.com/embed/KY94iiybtQk?enablejsapi=true&controls=0&disablekb=1&modestbranding=1",
      width="640",
      height="360",
      allow="autoplay; encrypted-media")


