extends _Majors

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Majors offered at A&M

    div.container
        dl
            dt
                h1
                    a(href='/CompSci') Computer Science
            dd This is one of the many engineering degrees offered at A&M

        d2
            dt
                h1
                    a(href='/Petrol') Petroleum Engineering
            dd This is one of the many engineering degrees offered at A&M

        d3
            dt
                h1
                    a(href='/Aero') Aerospace Engineering
            dd This is one of the many engineering degrees offered at A&M

        d4
            dt
                h1
                    a(href='/Bio') Biological and Agricultural Engineering
            dd This is one of the many engineering degrees offered at A&M

        d5
            dt
                h1
                    a(href='/BioMed') Biomedical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d6
            dt
                h1
                    a(href='/Chem') Chemical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d7
            dt
                h1
                    a(href='/Civil') Civil Engineering
            dd This is one of the many engineering degrees offered at A&M

        d8
            dt
                h1
                    a(href='/Electrical') Electrical Engineering
            dd This is one of the many engineering degrees offered at A&M
        

        d9
            dt
                h1
                    a(href='/Indus') Engineering Technology and Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M

        d10
            dt
                h1
                    a(href='/Materials') Materials Science and Engineering
            dd This is one of the many engineering degrees offered at A&M

        d11
            dt
                h1
                    a(href='/Mech') Mechanical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d12
            dt
                h1
                    a(href='/MultiDisc') Multidisciplinary Engineering Technology
            dd This is one of the many engineering degrees offered at A&M

        d13
            dt
                h1
                    a(href='/Nuclear') Nuclear Engineering
            dd This is one of the many engineering degrees offered at A&M

        d14
            dt
                h1
                    a(href='/Ocean') Ocean Engineering
            dd This is one of the many engineering degrees offered at A&M

        d15
            dt
                h1
                    a(href='/Systems') Industrial Engineering
            dd This is one of the many engineering degrees offered at A&M

        d16
            dt
                h1
                    a(href='/Computer') Computer Engineering
            dd This is one of the many engineering degrees offered at A&M

        d17
            dt
                h1
                    a(href='/Environ') Environmental Engineering
            dd This is one of the many engineering degrees offered at A&M

        d18
            dt
                h1
                    a(href='/Architec') Architectural Engineering
            dd This is one of the many engineering degrees offered at A&M

        d19
            dt
                h1
                    a(href='/Electronic') Electronic Systems Engineering Technology
            dd This is one of the many engineering degrees offered at A&M

        d20
            dt
                h1
                    a(href='/Distrib') Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M

        d21
            dt
                h1
                    a(href='/Manufac') Manufacturing Engineering
            dd This is one of the many engineering degrees offered at A&M

        d22
            dt
                h1
                    a(href='/IntDisc') Interdisciplinary Engineering
            dd This is one of the many engineering degrees offered at A&M