extends _MajorsLandingPage

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Majors offered at A&M

    button(onclick="/javascripts/alphabeticalSort.js") Alphabetical Sort

    div.container
        dl.majorslist
            dt
                h1
                    a(href='/Aero') Aerospace Engineering
            dd  They are concerned with the design, development, testing, and production of aircraft, spacecraft, and related systems and equipment.


            dt
                h1
                    a(href='/Architec') Architectural Engineering
            dd This is one of the many engineering degrees offered at A&M
        

            dt
                h1
                    a(href='/Bio') Biological and Agricultural Engineering
            dd They are concerned with the application of skills to address issues such as tillage, soil and water, conservation, and handling and processing agricultural products.


            dt
                h1
                    a(href='/BioMed') Biomedical Engineering
            dd  They focus on advances in technology and medicine to develop new devices and equipment for improving human health


            dt
                h1
                    a(href='/Chem') Chemical Engineering
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Civil') Civil Engineering
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Computer') Computer Engineering
            dd This is one of the many engineering degrees offered at A&M
        

            dt
                h1
                    a(href='/CompSci') Computer Science
            dd The study of computers and computing as well as their theoretical and practical applications.
            

            dt
                h1
                    a(href='/Electrical') Electrical Engineering
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Electronic') Electronic Systems Engineering Technology
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Indus') Engineering Technology and Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Environ') Environmental Engineering
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Distrib') Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M
            

            dt
                h1
                    a(href='/Systems') Industrial Engineering
            dd This field is concerned with the industrial process of modern industries.
            

            dt
                h1
                    a(href='/IntDisc') Interdisciplinary Engineering
            dd This field is one of the most versatile fields, allowing graduates to pursue whichever industry they like.


            dt
                h1
                    a(href='/Materials') Materials Science and Engineering
            dd This field is concerned with creating consistent and precise materials for various industries.
            

            dt
                h1
                    a(href='/Manufac') Manufacturing Engineering
            dd This field is concerned with the manufacturing process involved in production.


            dt
                h1
                    a(href='/Mech') Mechanical Engineering
            dd This is one of the most popular engineering majors, with expertise in nearly every industry.


            dt
                h1
                    a(href='/MultiDisc') Multidisciplinary Engineering Technology
            dd This is a highly versatile field that includes both mechatronics engineering and STEM education.


            dt
                h1
                    a(href='/Nuclear') Nuclear Engineering
            dd This field is concerned with the production and management of the atomic systems industry.


            dt
                h1
                    a(href='/Ocean') Ocean Engineering
            dd This field is concerned about the manipulation of coastal technologies.
     

            dt
                h1
                    a(href='/Petrol') Petroleum Engineering
            dd This field is concerned with the activites related to the production of Hydrocarbons, which can be either crude oil or natural gas.
