extends _Majors

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Majors offered at A&M

    div.container
         d1
            dt
                h1
                    a(href='/Aero') Aerospace Engineering
            dd  They are concerned with the design, development, testing, and production of aircraft, spacecraft, and related systems and equipment.

            
         d2
            dt
                h1
                    a(href='/Architec') Architectural Engineering
            dd This is one of the many engineering degrees offered at A&M
        
         d3
            dt
                h1
                    a(href='/Bio') Biological and Agricultural Engineering
            dd They are concerned with the application of skills to address issues such as tillage, soil and water, conservation, and handling and processing agricultural products.

        d4
            dt
                h1
                    a(href='/BioMed') Biomedical Engineering
            dd  They focus on advances in technology and medicine to develop new devices and equipment for improving human health

        d5
            dt
                h1
                    a(href='/Chem') Chemical Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d6
            dt
                h1
                    a(href='/Civil') Civil Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d7
            dt
                h1
                    a(href='/Computer') Computer Engineering
            dd This is one of the many engineering degrees offered at A&M
        
        d8
            dt
                h1
                    a(href='/CompSci') Computer Science
            dd The study of computers and computing as well as their theoretical and practical applications.
            
        d9
            dt
                h1
                    a(href='/Electrical') Electrical Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d10
            dt
                h1
                    a(href='/Electronic') Electronic Systems Engineering Technology
            dd This is one of the many engineering degrees offered at A&M
            
        d11
            dt
                h1
                    a(href='/Indus') Engineering Technology and Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M
            
        d12
            dt
                h1
                    a(href='/Environ') Environmental Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d13
            dt
                h1
                    a(href='/Distrib') Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M
            
        d14
            dt
                h1
                    a(href='/Systems') Industrial Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d15
            dt
                h1
                    a(href='/IntDisc') Interdisciplinary Engineering
            dd This is one of the many engineering degrees offered at A&M

        d16
            dt
                h1
                    a(href='/Materials') Materials Science and Engineering
            dd This is one of the many engineering degrees offered at A&M
            
        d17
            dt
                h1
                    a(href='/Manufac') Manufacturing Engineering
            dd This is one of the many engineering degrees offered at A&M

        d18
            dt
                h1
                    a(href='/Mech') Mechanical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d19
            dt
                h1
                    a(href='/MultiDisc') Multidisciplinary Engineering Technology
            dd This is one of the many engineering degrees offered at A&M

        d20
            dt
                h1
                    a(href='/Nuclear') Nuclear Engineering
            dd This is one of the many engineering degrees offered at A&M

        d21
            dt
                h1
                    a(href='/Ocean') Ocean Engineering
            dd This is one of the many engineering degrees offered at A&M
     
        d22
            dt
                h1
                    a(href='/Petrol') Petroleum Engineering
            dd This field is concerned with the activites related to the production of Hydrocarbons, which can be either crude oil or natural gas.
