extends _Majors

block content

    h1(style="text-align:center;")= title
    h3(style="text-align:center;") This is where you will find a list of all the Engineering Majors offered at A&M

    div.container
        dl
            dt
                h1
                    a(href='/CompSci') Computer Science
            dd This is one of the many engineering degrees offered at A&

        d2
            dt
                h1
                    a(href='/Petrol') Petroleum Engineering
            dd This is one of the many engineering degrees offered at A&M

        d3
            dt
                h1
                    a(href='/Aero') Aerospace Engineering
            dd This is one of the many engineering degrees offered at A&M

        d4
            dt
                h1
                    a(href='/Bio') Biological and Agricultural Engineering
            dd This is one of the many engineering degrees offered at A&M

        d5
            dt
                h1
                    a(href='/BioMed') Biomedical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d6
            dt
                h1
                    a(href='/Chem') Chemical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d7
            dt
                h1
                    a(href='/Civil') Civil and Environmental Engineering
            dd This is one of the many engineering degrees offered at A&M

        d8
            dt
                h1
                    a(href='/Electrical') Electrical and Computer Engineering
            dd This is one of the many engineering degrees offered at A&M

        d9
            dt
                h1
                    a(href='/Indus') Engineering Technology and Industrial Distribution
            dd This is one of the many engineering degrees offered at A&M

        d10
            dt
                h1
                    a(href='/Materials') Material Science and Engineering
            dd This is one of the many engineering degrees offered at A&M

        d11
            dt
                h1
                    a(href='/Mech') Mechanical Engineering
            dd This is one of the many engineering degrees offered at A&M

        d12
            dt
                h1
                    a(href='/MultiDisc') Multidisciplinary Engineering
            dd This is one of the many engineering degrees offered at A&M

        d13
            dt
                h1
                    a(href='/Nuclear') Nuclear Engineering
            dd This is one of the many engineering degrees offered at A&M

        d14
            dt
                h1
                    a(href='/Ocean') Ocean Engineering
            dd This is one of the many engineering degrees offered at A&M

        d15
            dt
                h1
                    a(href='/Systems') Industrial and Systems Engineering
            dd This is one of the many engineering degrees offered at A&M

