extends _Majors

block content
    nav#navBar
        div.topnav
            a(href='/') Home
            a.active(href='/Majors.html') Majors

    h1= title
    p Welcome to the #{title}
    p This is where you will find a list of all the Engineering Majors offered at A&M