extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Manufacturing Engineering page!

    
    .inforow 
        .leftflex 
            div.start
                h2 Information About Major 
                p
                | Manufacturing engineering is a branch of engineering that focusses on improving the production of an item.
                | This is done through making product design changes or creating a  more effecting manufacturing process.
                | They focus on the design and operation of integrated systems for the production of high-quality,
                | economically competitive products. Manufacturing engineers work with computer networks, robots, machine
                | tools, and materials-handling equipment. An example of what a manufacturing engineer does is in automating
                | a chemical manufacturing facility through computer integrated technology. 
            div.info
                h2 TAMU Info 
                p
                | At Texas A&M, those who are pursuing a manufacturing engineering degree will be highly prepared for dynamic
                | careers in industry. They are able to understand the dependencies among material properties, product design,
                | costs, manufacturing systems, and process technologies. Students are going to learn how to view manufacturing
                | from an enterprise and system perspective, which will allow for them to recognize the importance of customer
                | and supplier interactions. Manufacturing engineering requires a total of 128 credit hours to complete. 
                
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 2.3%
                                li Graduation Rate: 90%
                                li Average Salary: $72,005
                        td
                            ul
                                li Boeing
                                li Lockheed Martin
                                li Intel Corporation
                        td
                            ul
                                li Research
                                li Practice systems and physics
                                li Participate in Clubs (Tau Alpha Pi)
        .rightflex 
            meta(name='Video', content='EOlzYL8ltCw')
            div#player 