extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Mechanical Engineering page!
    
    
    .inforow 
        .leftflex 
            div.start
                h2 Information About Major 
                p
                | Mechanical engineering is by far the most popular and versatile engineering degree. Mechanical engineers are able
                | to design, develop, build, and test anything that moves from components to even the human body. They combine physics
                | and mathematics along with principles from materials science to work with mechanical systems. This engineering
                | is one of the oldest and broadest engineering branches, dating back to the industrial revolution in Europe in the
                | 18th century. The forefront of the industry pursues developments in composites, mechatronics, and nanotechnology.
                | It overlaps heavily with aerospace, metallurgical, civil, electrical, manufacturing, chemical, and industrial engineering. 
            div.info
                h2 TAMU Info 
                p
                | At Texas A&M, those who are pursuing the mechanical engineering degree will have students develop and apply logical
                | thinking, innovative approaches, and ethical standards as a prerequisite for professional competence. The curriculum
                | consists of basic theory courses that are complemented with laboratory experiences in dynamic systems and controls,
                | design, experimentation, fluid mechanics, heat transfer, manufacturing, and materials. Mechanical engineering requires
                | a total of 128 credit hours to complete. 
                
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 3%
                                li Graduation Rate: 90%
                                li Average Salary: $90,160
                        td
                            ul
                                li Johnson & Johnson 
                                li Google 
                                li NASA
                        td
                            ul
                                li Research
                                li Practice calculus and physics
                                li Participate in Clubs (Pi Tau Sigma)

        .rightflex 
            meta(name='Video', content='W74y1RxN6BA')
            div#player
