extends _Majors

block content

    div.titles
        h1= title
        p Welcome to the Nuclear Engineering page!
    
    
    .inforow 
        .leftflex 
            div.start
                h2 Information About Major 
                p Nuclear engineers are responsible for researching and developing the process, instruments, and systems used to derive benefits from nuclear energy and radiation. These engineers tend to find industrial and medical uses for these radioactive materials such as radiation therapy or chemotherapy. The processes that these engineers are responsible for include the release, control, and utilization of nuclear energy and radiation for industries like research, medicine, and national security. Similar to aerospace, it is a multifaceted discipline, meaning that it relies on several branches of physics to modeling and simulate complex systems that are impossible to be physically tested.
            div.info
                h2 TAMU Info 
                p At Texas A&M, the required Nuclear engineering coursework aims to teach students about nuclear reactor design, operation, simulation, and maintenace. They also teach students about nuclear energy production, radiation detection, radiological health technologies, computational method developments, nuclear materials, nuclear security, and nuclear policies. Nuclear engineering at Texas A&M requires a total of 125 credit hours to complete. 
                
            .tableinfo
                table
                    tr
                        th
                            h2 Statistics
                        th
                            h2 Companies
                        th
                            h2 Preparation
                    tr
                        td
                            ul
                                li Unemployment Rate: 10%
                                li Graduation Rate: 85%
                                li Average Salary: $120,380
                        td
                            ul
                                li Argonne National Laboratory
                                li Sandia Corporation 
                                li DTE Energy
                        td
                            ul
                                li Research
                                li Practice chemistry and physics
                                li Participate in Clubs (ANC)

        .rightflex 
            meta(name='Video', content='-XVJPszOdVY')
            div#player
