extends _Majors

block content
    nav#navBar
        div.topnav
            a(href='/') Home
            a(href='/Majors') Majors
            a.active(href='/Sample') Sample

    h1= title
    p Welcome to the #{title}'s Computer Science page!
    h2 Statistics
    p [enter statistics]
    h2 Companies 
    ul 
        li Amazon 
        li Google 
        li Twitch 
    h2 Preparation 
    ol 
        li Research
        li Practice 
        li Participate in Clubs 
        li Personal Projects 
    h2 Information About Major 
    p [information here]
    h2 TAMU Info 
    p [information here]